/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Alegreya Sans', sans-serif;
	color: #cb007a;
	line-height: 1.2em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

/* Begin Styling */

#content {
	padding: 100px;
}

h2 {
	font-size: 4em;
	font-weight: 900;
	margin-bottom: 0.5em;
	letter-spacing: 1px;
	line-height: 0.8em;
}

h3 {
	color: #98085d;
	font-size: 2em;
	margin-bottom: 2em;
}

p {
	color: #98085d;
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 2em;
}

a {
	padding: 5px;
	text-decoration: none;
	border-bottom: 4px dashed #cb007a;
}

a:hover {
	background-color: #ffebf7;
	border-bottom: 4px solid #cb007a;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
	#content {
		padding: 30px;
	}
	
	h2 {
		margin-bottom: 0.2em;
		line-height: 0.8em;
	}
	
	h3 {
		font-size: 1.5em;
		margin-bottom: 1.5em;
	}
	
	p {
		font-size: 1.5em;
		margin-bottom: 1.5em;
	}
	
}